* {
    margin: 0;
    padding: 0;
    background-color: #f9f7f0;
}

/* Main handlebar style */
.hb-logo {
    width: 15%;
    height: 15%;
}

.navbar, .navbar-toggler, .navbar-toggler-icon, .collapse, .nav-item {
    background-color: #221c18;
    font-family: sans-serif;
}

.nav-link, .nav-item {
    color: #f9f7f0;
}

.nav-link:hover {
    color:rgb(34, 200, 145);
}

.dropdown-menu {
    color: #f9f7f0;
}

.dropdown-item:hover {
    color: #415143;
}

/* LEARN section */
/* CBD content */
#learn {
    font-family: sans-serif;
   
}

.learn-about {
    font-size: xx-large;
}

.hash-img {
    justify-content: center;
    
    width: 100%;
    height: 100%;
}

h2, h3, h4, h5, h6 {
 color: #415143;
}

p {
    color: #6e6d6d;
    font-weight: 500;
}

.subcont {
    font-weight: 400;
}

#card-body-cbd {
    background-color: #415143;
}

.lh-base {
    color: antiquewhite;
}


/* FAQs */
.accordion-button {
    background-color: rgb(204, 221, 242);
}



