<div id="login" class="container">
    <div class="row">
    <div class="col-8">
        <br>
        <h3><span class="font-weight-bolder">Enter your username and password</span></h3>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Username</span>
            </div>
            <input type="text" class="form-control" placeholder="Username" aria-label="Name" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Password</span>
            </div>
            <input type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
        </div>

        <button type="button" class="btn btn-info">Login</button>

    </div>
    </div>
</div>