<div id="login" class="container">
    <div class="row">
    <div class="col-8">
        <br>
        <h3><span class="font-weight-bolder">Enter your username and password</span></h3>
        <form class="form-sign">

            <label for="username-login" class="sr-only">Username</label>
            <input type="text" class="form-control" id="usermane-login" placeholder="Username" aria-describedby="basic-addon1">
            <label for="username-login" class="sr-only">Password</label>
            <input type="password" class="form-control" id="password-login" placeholder="Password" aria-describedby="basic-addon1">

            <button type="submit" class="btn btn-info">Login</button>
        </form>


    </div>
    </div>
</div>