<div id="logout" class="container">
    <div class="row">
    <div class="col-8">
        <br>
        <h3><span class="font-weight-bolder">Successfully logged out</span></h3>
    </div>
    </div>
</div>