<ul class="list-group list-group-horizontal">
  <li class="list-group-item">Flower</li>
  <li class="list-group-item">Cartridges</li>
  <li class="list-group-item">Concentrates</li>
  <li class="list-group-item">Edibles</li>
</ul>

<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="#">Flower</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Cartridges</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Concentrates</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">Edibles</a>
  </li>
</ul>

<div id="detailed-products">
    {{{products...?}}}
</div>