<div id="signUp" class="container">
    <div class="row">
    <div class="col-8">
        <span>Sign up for promotions!</span>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Name</span>
            </div>
            <input type="text" class="form-control" placeholder="Username" aria-label="Name" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Password</span>
            </div>
            <input type="text" class="form-control" placeholder="Username" aria-label="Password" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Email</span>
            </div>
            <input type="text" class="form-control" placeholder="Username" aria-label="example@example.com" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
            <div class="input-group-text">
                Are you over 21?
            </div>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
                <input type="radio" name="options" id="option1" checked> Yes
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="options" id="option2"> No
            </label>
            </div>
        </div>
        </div>

        <span>You won't regret</span>
    </div>
    </div>
</div>